$antracyt: #343434;
$green: #4e5c58;
$purple: #5b216c;

.print-area {
  display: grid;
  grid:
    "portrait   header" 15%
    "additional main  " 85%
    / 25% 75%;
  position: relative;
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  background-color: white;
}

.portrait {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: portrait;

  .image-container {
    width: 45mm;
    height: 45mm;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: header;

  .name {
    font-family: "Caveat", cursive;
    color: $purple;
    font-size: 36pt;
    font-weight: 700;
  }

  .description {
    margin: 5mm 0;
    text-align: justify;
    line-height: 20pt;
  }
}

.part-header {
  display: flex;
  align-items: center;
  margin: 7mm 0 3mm 0;
  color: $green;
  font-size: 16pt;
  font-weight: 700;

  img {
    width: 10mm;
    height: 10mm;
  }

  p {
    margin: 0 4mm;
  }
}

.additional-info {
  grid-area: additional;
  margin: 0;
  line-height: 1.5;

  .item {
    font-size: 10pt;
  }

  .personal-info-name {
    font-weight: 700;
  }

  .personal-info-details {
    margin-bottom: 3mm;
  }

  .technologies-items {
    display: flex;
    flex-wrap: wrap;

    .strong-item {
      margin: 1mm;
      padding: 1mm 1.5mm;
      border: 0.5mm solid $purple;
      border-radius: 2mm;
      font-weight: 400;
      font-size: 12pt;
      line-height: 14pt;
      color: $purple;
    }

    .item {
      font-size: 8pt;
      margin: 1mm;
      padding: 1mm 2mm;
      border: 0.5mm solid #cccccc;
      border-radius: 2mm;
      font-weight: 400;
    }
  }

  .hobby {
    .item {
      display: flex;
      align-items: center;
    }
  }
}

.main-info {
  grid-area: main;
  margin: 0 0 5mm 30mm;

  .item {
    font-size: 10pt;
  }

  .skills {
    .item {
      display: flex;
      align-items: center;
      position: relative;

      .line {
        height: 10mm;
      }

      p {
        margin: 0;
      }
    }
  }

  .work-history {
    .item {
      .row {
        display: flex;
        align-items: center;
        position: relative;

        .line {
          height: 8mm;
        }

        p {
          margin: 0;
        }

        .position {
          font-weight: 700;
        }

        .employer {
          font-style: italic;
        }

        .work-details {
          display: flex;
          flex-direction: column;
          font-size: 10pt;
        }
      }
    }
  }

  .education {
    .item {
      .row {
        display: flex;
        align-items: center;
        position: relative;

        .line {
          height: 8mm;
        }

        p {
          margin: 0;
        }

        .field {
          font-weight: 700;
        }

        .school {
          font-style: italic;
        }

        .work-details {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  p {
    width: 210;
    margin: 0 10mm;
    color: $green;
    font-size: 9pt;
    font-weight: 200;
    line-height: 1.5;
    text-align: justify;
  }
}

.languageToggler {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8pt;
  padding: 8pt;
  min-width: 40pt;
  color: $green;
  text-align: center;
  font-size: 9pt;
  font-weight: 900;
  background-color: #dedede;
  border-radius: 3pt;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  width: 10mm;
  height: 10mm;
  border-radius: 50%;

  img {
    width: 7mm;
    height: 7mm;
  }
}

.smaller-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $green;
  width: 7mm;
  height: 7mm;
  border-radius: 50%;
  margin: 0 2mm 0 1mm;

  img {
    width: 5mm;
    height: 5mm;
  }
}

.dot {
  position: absolute;
  left: 4.2mm;
  width: 2mm;
  height: 2mm;
  border-radius: 50%;
  background-color: $green;
}

.line {
  width: 5mm;
  height: 5mm;
  margin-left: 5mm;
  border-left: 0.5mm solid #dedede;
}

.period {
  position: absolute;
  left: -23mm;
  top: 2mm;
  width: 25mm;
  font-size: 9pt;
}

@media print {
  .print-area {
    position: absolute;
    top: 0;
    left: 0;
  }

  .languageToggler {
    visibility: hidden;
  }
}
